doctype html
link(hreflang="es-MX" href='//Consalv0.github.io/MSpheres')
html
  head
    title Xs & Os
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/addons/p5.sound.js")
    style
      include ../css/main.css
  body
    #game
    
    //.section#header.center-all
    //  .container
    //   div.col-12.col-auto
    //    h1.title 
    //     a(href='//github.com/Consalv0/MSpheres') Xs & Os
    //    h2.subtitle Developed by Consalvo
    //    h3 Based on the community 
    //     a(href='//p5js.org') P5.js
    //     l  library!
    //    h2 
    //     a(href='//itch.io/jam/960144') «Repository»
    
    //.section#footer
    //  .container
    //    .row: .col-12.col-auto
    //      .text-center 
    //        a Xs & Os - 2017
            
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")        
    script(src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/p5.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/addons/p5.sound.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
    script
      include ../js/main.js
    script
      include ../js/game.js
